[user]
	name = Ross Anderson
	email = ross.anderson@ualberta.ca

[github]
  user = rosshamish

[alias]
  br = branch

  co = checkout
  d = diff
  st = status --short

  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -M
  last = log -n 10
  url = !git remote -v|sed "'s|.*git[:@]\\(.*\\).git.*|http://\\1|;s|m:|m/|'"|uniq|xargs open
  whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"

	ci = commit
	p = push
	pu = push
	psh = push
	get = pull

[push]
  default = current

[color]
  ui = true

[core]
  editor = sublime -w
  excludesfile = ~/.gitignore
  #pager = diff-highlight | less -r

[format]
  #pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
  #graph = true

[advice]
  statusHints = false

[log]
  abbrevCommit = false

[mergetool]
	keepBackup = false
[init]
	templatedir = ~/.git_template
